<div class="product">
  <h3>Title: <%= product.title %></h3>
  <h4>Category: <%= product.category.name%>
  <p>Description: <%= product.description %></p>
  <p>Price: <%= "$#{product.price}"%></p>
  <p>In Stock: <%=product.stock_quantity%></p>
  <%= image_tag product.image.thumb.url%>
</div>
